<a href="https://colab.research.google.com/github/ashiqurrahmankhan21st/BreastCancer/blob/main/Breast_Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [147]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf
import keras
#import keras_metrics
from keras.utils import to_categorical
from keras.models import Sequential
from keras.optimizers import SGD
from keras.layers import Dense
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import RocCurveDisplay
from sklearn.inspection import PartialDependenceDisplay
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import accuracy_score
import time

In [179]:
df = pd.read_csv("https://raw.githubusercontent.com/ashiqurrahmankhan21st/BreastCancer/main/data.csv")
del df['id']
df.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [55]:
df['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [58]:
encoder = LabelEncoder()
df['diagnosis'] = encoder.fit_transform(df['diagnosis'])
df['diagnosis'].value_counts()

0    357
1    212
Name: diagnosis, dtype: int64

In [66]:
X = df.drop(columns=['diagnosis']).copy()
y = df.diagnosis.copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=123)
print("Original data : ",df.shape)
print("tarin         : ",X_train.shape)
print("test          : ",X_test.shape[0])
print("validation    : ",X_val.shape[0])

Original data :  (569, 31)
tarin         :  (455, 30)
test          :  57
validation    :  57

In [22]:
# SVM

In [60]:
svm = make_pipeline(StandardScaler(), SVC(gamma='auto', kernel = 'rbf'))
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
print("train accuracy",svm.score(X_train, y_train))
print("test accuracy",svm.score(X_test, y_test))

train accuracy 0.9868131868131869
test accuracy 0.9824561403508771

In [61]:
y_pred_svm

array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1])

In [ ]:
#SVM
svm = make_pipeline(StandardScaler(), SVC(gamma='auto', kernel = 'rbf'))
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
print("train accuracy",svm.score(X_train, y_train))
print("test accuracy",svm.score(X_test, y_test))

In [144]:
#ANN
model = Sequential()
model.add(Dense(30, activation='selu', input_shape=(X_train.shape[1],)))
model.add(Dense(10, activation='selu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='BinaryCrossentropy', optimizer='rmsprop', metrics=['accuracy']) #tf.keras.metrics.Precision(), tf.keras.metrics.Recall()
start_time = time.time()
model.fit(X_train,y_train, batch_size = 128, epochs = 50, validation_data = (X_val,y_val))
end_time = time.time()
y_pred_ANN = (model.predict(X_test) > 0.5).astype("int32")
ATr = model.evaluate(X_train,y_train,verbose=0)#[1]
ATe = model.evaluate(X_test,y_test,verbose=0)#[1]

Epoch 1/50
4/4 [==============================] - 1s 78ms/step - loss: 70.0751 - accuracy: 0.3758 - val_loss: 58.0119 - val_accuracy: 0.3860
Epoch 2/50
4/4 [==============================] - 0s 14ms/step - loss: 55.5642 - accuracy: 0.3758 - val_loss: 47.2455 - val_accuracy: 0.3860
Epoch 3/50
4/4 [==============================] - 0s 14ms/step - loss: 45.3071 - accuracy: 0.3758 - val_loss: 38.4470 - val_accuracy: 0.3860
Epoch 4/50
4/4 [==============================] - 0s 15ms/step - loss: 36.5602 - accuracy: 0.3758 - val_loss: 30.3256 - val_accuracy: 0.3860
Epoch 5/50
4/4 [==============================] - 0s 14ms/step - loss: 28.4029 - accuracy: 0.3758 - val_loss: 22.2183 - val_accuracy: 0.3860
Epoch 6/50
4/4 [==============================] - 0s 15ms/step - loss: 19.8025 - accuracy: 0.3758 - val_loss: 13.5784 - val_accuracy: 0.3860
Epoch 7/50
4/4 [==============================] - 0s 13ms/step - loss: 11.1677 - accuracy: 0.3758 - val_loss: 5.5392 - val_accuracy: 0.4211
Epoch 8/50
4/4 [==============================] - 0s 16ms/step - loss: 4.5673 - accuracy: 0.3912 - val_loss: 3.3800 - val_accuracy: 0.4211
Epoch 9/50
4/4 [==============================] - 0s 19ms/step - loss: 3.1924 - accuracy: 0.4198 - val_loss: 2.4740 - val_accuracy: 0.4386
Epoch 10/50
4/4 [==============================] - 0s 16ms/step - loss: 2.3554 - accuracy: 0.4637 - val_loss: 1.7051 - val_accuracy: 0.4386
Epoch 11/50
4/4 [==============================] - 0s 13ms/step - loss: 1.6441 - accuracy: 0.5209 - val_loss: 1.0581 - val_accuracy: 0.5263
Epoch 12/50
4/4 [==============================] - 0s 13ms/step - loss: 1.0705 - accuracy: 0.6242 - val_loss: 0.6198 - val_accuracy: 0.7018
Epoch 13/50
4/4 [==============================] - 0s 15ms/step - loss: 0.6732 - accuracy: 0.7275 - val_loss: 0.3475 - val_accuracy: 0.8246
Epoch 14/50
4/4 [==============================] - 0s 19ms/step - loss: 0.4237 - accuracy: 0.8242 - val_loss: 0.2202 - val_accuracy: 0.9474
Epoch 15/50
4/4 [==============================] - 0s 20ms/step - loss: 0.2946 - accuracy: 0.8791 - val_loss: 0.1675 - val_accuracy: 0.9474
Epoch 16/50
4/4 [==============================] - 0s 14ms/step - loss: 0.2364 - accuracy: 0.8945 - val_loss: 0.1524 - val_accuracy: 0.9474
Epoch 17/50
4/4 [==============================] - 0s 13ms/step - loss: 0.2163 - accuracy: 0.9165 - val_loss: 0.1503 - val_accuracy: 0.9649
Epoch 18/50
4/4 [==============================] - 0s 16ms/step - loss: 0.2039 - accuracy: 0.9275 - val_loss: 0.1504 - val_accuracy: 0.9474
Epoch 19/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1967 - accuracy: 0.9297 - val_loss: 0.1525 - val_accuracy: 0.9474
Epoch 20/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1970 - accuracy: 0.9319 - val_loss: 0.1682 - val_accuracy: 0.9123
Epoch 21/50
4/4 [==============================] - 0s 14ms/step - loss: 0.2132 - accuracy: 0.9297 - val_loss: 0.1596 - val_accuracy: 0.9474
Epoch 22/50
4/4 [==============================] - 0s 23ms/step - loss: 0.2036 - accuracy: 0.9231 - val_loss: 0.2222 - val_accuracy: 0.8947
Epoch 23/50
4/4 [==============================] - 0s 21ms/step - loss: 0.2310 - accuracy: 0.9121 - val_loss: 0.1609 - val_accuracy: 0.8947
Epoch 24/50
4/4 [==============================] - 0s 19ms/step - loss: 0.1915 - accuracy: 0.9275 - val_loss: 0.3353 - val_accuracy: 0.8596
Epoch 25/50
4/4 [==============================] - 0s 20ms/step - loss: 0.2369 - accuracy: 0.9055 - val_loss: 0.1600 - val_accuracy: 0.9649
Epoch 26/50
4/4 [==============================] - 0s 21ms/step - loss: 0.2114 - accuracy: 0.9209 - val_loss: 0.1478 - val_accuracy: 0.9649
Epoch 27/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1941 - accuracy: 0.9253 - val_loss: 0.1595 - val_accuracy: 0.9298
Epoch 28/50
4/4 [==============================] - 0s 14ms/step - loss: 0.2014 - accuracy: 0.9253 - val_loss: 0.1596 - val_accuracy: 0.9298
Epoch 29/50
4/4 [==============================] - 0s 17ms/step - loss: 0.1919 - accuracy: 0.9275 - val_loss: 0.1873 - val_accuracy: 0.8947
Epoch 30/50
4/4 [==============================] - 0s 20ms/step - loss: 0.2315 - accuracy: 0.9165 - val_loss: 0.1706 - val_accuracy: 0.8947
Epoch 31/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1870 - accuracy: 0.9275 - val_loss: 0.3484 - val_accuracy: 0.8596
Epoch 32/50
4/4 [==============================] - 0s 15ms/step - loss: 0.2832 - accuracy: 0.8901 - val_loss: 0.1604 - val_accuracy: 0.9474
Epoch 33/50
4/4 [==============================] - 0s 22ms/step - loss: 0.2075 - accuracy: 0.9187 - val_loss: 0.1524 - val_accuracy: 0.9474
Epoch 34/50
4/4 [==============================] - 0s 19ms/step - loss: 0.1902 - accuracy: 0.9363 - val_loss: 0.2245 - val_accuracy: 0.8947
Epoch 35/50
4/4 [==============================] - 0s 20ms/step - loss: 0.2196 - accuracy: 0.9165 - val_loss: 0.1618 - val_accuracy: 0.9298
Epoch 36/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1987 - accuracy: 0.9231 - val_loss: 0.2356 - val_accuracy: 0.8947
Epoch 37/50
4/4 [==============================] - 0s 21ms/step - loss: 0.1778 - accuracy: 0.9297 - val_loss: 0.2036 - val_accuracy: 0.8772
Epoch 38/50
4/4 [==============================] - 0s 15ms/step - loss: 0.1996 - accuracy: 0.9297 - val_loss: 0.2012 - val_accuracy: 0.9123
Epoch 39/50
4/4 [==============================] - 0s 19ms/step - loss: 0.1878 - accuracy: 0.9275 - val_loss: 0.2045 - val_accuracy: 0.8772
Epoch 40/50
4/4 [==============================] - 0s 16ms/step - loss: 0.1831 - accuracy: 0.9319 - val_loss: 0.1590 - val_accuracy: 0.9298
Epoch 41/50
4/4 [==============================] - 0s 20ms/step - loss: 0.2075 - accuracy: 0.9297 - val_loss: 0.2450 - val_accuracy: 0.8947
Epoch 42/50
4/4 [==============================] - 0s 13ms/step - loss: 0.2246 - accuracy: 0.9077 - val_loss: 0.1562 - val_accuracy: 0.9649
Epoch 43/50
4/4 [==============================] - 0s 15ms/step - loss: 0.2069 - accuracy: 0.9253 - val_loss: 0.1545 - val_accuracy: 0.9474
Epoch 44/50
4/4 [==============================] - 0s 14ms/step - loss: 0.2054 - accuracy: 0.9275 - val_loss: 0.2395 - val_accuracy: 0.9123
Epoch 45/50
4/4 [==============================] - 0s 15ms/step - loss: 0.2426 - accuracy: 0.9121 - val_loss: 0.1713 - val_accuracy: 0.9298
Epoch 46/50
4/4 [==============================] - 0s 14ms/step - loss: 0.2123 - accuracy: 0.9121 - val_loss: 0.1552 - val_accuracy: 0.9474
Epoch 47/50
4/4 [==============================] - 0s 20ms/step - loss: 0.1960 - accuracy: 0.9253 - val_loss: 0.1617 - val_accuracy: 0.9298
Epoch 48/50
4/4 [==============================] - 0s 21ms/step - loss: 0.1964 - accuracy: 0.9231 - val_loss: 0.1570 - val_accuracy: 0.9474
Epoch 49/50
4/4 [==============================] - 0s 15ms/step - loss: 0.1906 - accuracy: 0.9385 - val_loss: 0.2020 - val_accuracy: 0.9123
Epoch 50/50
4/4 [==============================] - 0s 15ms/step - loss: 0.2025 - accuracy: 0.9253 - val_loss: 0.1620 - val_accuracy: 0.9298
2/2 [==============================] - 0s 7ms/step

In [145]:
print(ATr[1])
print(ATe[1])

0.9274725317955017
0.9473684430122375

In [152]:
#XGBoost
params = {
            'objective':'binary:logistic',
            'max_depth': 4,
            'alpha': 10,
            'learning_rate': 1.0,
            'n_estimators':100
        }
xgb = XGBClassifier(**params)
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)
print('XGBoost model train accuracy score: {0:0.4f}'. format(accuracy_score(y_train, xgb.predict(X_train))))
print('XGBoost model test accuracy score: {0:0.4f}'. format(accuracy_score(y_test, xgb.predict(X_test))))

XGBoost model train accuracy score: 0.9890
XGBoost model test accuracy score: 0.9825

In [164]:
newdata = pd.DataFrame({
    "SVM": y_pred_svm
})
newdata["ANN"] = y_pred_ANN
newdata["XGB"] = y_pred_xgb
newdata['y_test'] = list(y_test)
newdata

    SVM  ANN  XGB  y_test
0     0    0    0       0
1     0    0    0       0
2     1    1    1       1
3     1    1    1       1
4     1    1    1       1
5     0    0    0       0
6     0    0    0       0
7     0    0    0       0
8     0    0    0       0
9     0    0    0       0
10    0    0    0       0
11    0    0    0       0
12    0    0    0       0
13    1    0    1       1
14    0    0    0       0
15    1    1    1       1
16    0    0    0       0
17    0    0    0       0
18    0    0    0       0
19    1    1    1       1
20    0    0    0       0
21    0    0    0       0
22    0    0    0       0
23    0    1    1       1
24    1    1    1       1
25    0    0    0       0
26    0    0    0       0
27    0    0    0       0
28    0    0    0       0
29    0    0    0       0
30    0    0    0       0
31    0    0    0       0
32    1    1    1       1
33    0    0    0       0
34    0    0    0       0
35    1    1    1       1
36    1    1    0       1
37    0    0    0       0
38    0    0    0       0
39    1    1    1       1
40    0    0    0       0
41    1    1    1       1
42    0    0    0       0
43    1    1    1       1
44    0    0    0       0
45    1    1    1       1
46    1    1    1       1
47    1    1    1       1
48    0    0    0       0
49    0    0    0       0
50    0    1    0       0
51    0    0    0       0
52    0    0    0       0
53    1    1    1       1
54    0    0    0       0
55    0    0    0       0
56    1    0    1       1